div#lanrsvp-seatmap-info {
    margin: 0 0 15px;
    display:block;
}

table#lanrsvp-seatmap-legends {
    float: left;
    margin: 0 10px 0 0 ;
}

td.lanrsvp-seatmap-legend {
    height: 20px;
    width: 20px;
    border: 1px solid black;
}