div#lanrsvp-seatmap-info {
    margin: 0 0 10px;
    display:block;
    width: 100%;
}

div#lanrsvp-seatmap-info table {
    margin: 0 0 10px;
}

div#lanrsvp-seatmap-info table td {
    padding: 5px;
    vertical-align: middle;
}


td.lanrsvp-seatmap-legend {
    height: 20px;
    width: 20px;
    border: 1px solid black;
}