div#lanrsvp-seatmap-legends {
    margin: 0 0 15px;
}

span.lanrsvp-seatmap-legend-container {
    display: block;
    margin: 0 0 5px;
}

span.lanrsvp-seatmap-legend {
    height: 20px;
    width: 20px;
    display: inline-block;
    border: 1px solid black;
    border-style: inset;
    vertical-align: middle;
    margin: 0 5px 0 0;
}

span.lanrsvp-align-middle {
    vertical-align: middle;
}